node_modules
.next
out
.git
.github
.env
.env.local
*.md
!README.md
prisma/*.db
prisma/*.db-journal
data
Archive.zip
links.txt
module_1
module_2
module_3
marking_criteria_*.png
assignment_*
Assessment*
